.my-page{
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
}
.title{
	text-align: center;
}

.form-label{
	margin: 0 auto;
	width: 80%;
	height: 30px;
	display: flex;
	justify-content: space-between;
	line-height: 40px;
	font-size:20px;
	margin-top: 20px;
}

.form-label .my-input{
	width: 75%;
}

.form-btn{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.check{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 15px;
	color: #d00000;
	display: none;
	margin-left: 35px;
}

.check .check-box{
	display: flex;
}

.check img{
	width: 15px;
	height: 15px;
	margin-bottom: 2.5px;
	margin-left: 10px;
	margin-top: 5px;
}

.check #check-text{
	margin-left: 5px;
}

