<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>角色数据</title>
		<script src="/his/view/js/jquery-3.6.4.min.js"></script>
		<script type="text/javascript" src="/his/view/js/jquery.cookie.js"></script>
		<link href="/his/view/layui/css/layui.css" rel="stylesheet">
		<script src="/his/view/layui/layui.js"></script>
		<link rel="stylesheet" href="/his/view/css/role/data.css">
		<script src="/his/view/js/role/data.js"></script>
	</head>
	<body>
		<!-- 操作按钮模板 -->
		<script type="text/html" id="operate-box">
			<button type="button" class="layui-btn layui-btn-xs edit" onclick="edit(this)" lay-event="edit">
			    <i class="layui-icon layui-icon-edit"></i> 编辑
			</button>
			<button type="button" class="layui-btn layui-btn-xs layui-btn-danger" onclick="del(this)" lay-event="del">
			    <i class="layui-icon layui-icon-delete"></i> 删除
			</button>
		</script>
		
		<div class="table-tool">
			<button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="delAll()">
			    <i class="layui-icon layui-icon-delete"></i> 删除
			</button>
		</div>
		<table class="layui-hide" id="role-data"></table>

		<!--事件-->
		<script>
			function edit(e){

			}
			function del(e){

			}
			function delAll(){
				
			}
		</script>
	</body>
</html>